<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-v_zrfzOZvxFhiVWvAcHIJO1dY1M48r4</string>
	<key>GCM_SENDER_ID</key>
	<string>706806575696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yaroslavDev.TestLoginApp</string>
	<key>PROJECT_ID</key>
	<string>testloginapp-8d4f1</string>
	<key>STORAGE_BUCKET</key>
	<string>testloginapp-8d4f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706806575696:ios:864aeb611835b21a3d9755</string>
</dict>
</plist>